body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
	margin-left: 10px;
    margin-bottom: 25px;
    background-image: url('../images/yellow-bg.jpg');
    width: 280px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    padding: 15px;
    padding-top:10px;
    font-size: 20px;
    font-family: 'Kalam', cursive;

}
.portfolio-item .task-text{
	margin-top:30px;
}
.task-deleter{
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-image: url('../images/closer.png');
	display: none;
}

.portfolio-item:hover .task-deleter{
	display: inline-block;
}

footer {
    margin: 50px 0;
}